/* estilo.css */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0074e4;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos do banner */
#banner {
    text-align: center;
    padding: 40px 0;
}

#banner h1 {
    font-size: 36px;
}

/* Estilos dos serviços */
#servicos {
    margin-top: 40px;
}

#servicos h2 {
    font-size: 24px;
}

#servicos ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px;
}

/* Estilos da galeria de imagens */
#galeria {
    margin-top: 40px;
    text-align: center;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.carousel-slide {
    width: 300px;
    margin-right: 20px;
}

.carousel-slide img {
    max-width: 100%;
    height: auto;
}

/* Estilos do formulário de contato */
#contato {
    margin-top: 40px;
}

#contato form {
    max-width: 600px;
    margin: 0 auto;
}

#contato label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#contato input[type="text"],
#contato input[type="email"],
#contato input[type="number"],
#contato input[type="submit"],
#contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contato button {
    background-color: #0074e4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#contato button:hover {
    background-color: #00437e;
}